{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ composition.name }}</h1>
  <div>{{ composition }}</div>
  <div>Name: {{ composition.name }}</div>
  <div>Summary: {{ composition.summary }}</div>
  <div>year: {{ composition.year }}</div>
  <div>opus: {{ composition.i_opus }}</div>
  <div>category: {{ composition.i_category }}</div>
  <div>Composer: {{ composition.composer }}</div>
  <div>Composition category: {{ composition.compositioncategory }}</div>

  <p><a href="{% url 'composition_update' composition.id %}">Update</a></p> 
  <p><a href="{% url 'composition_delete' composition.id %}">Delete</a></p> 

{% endblock %}