{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ composer }} ({{ composer.get_lifespan }}) <img src="{{ composer.country.flag.url }}" width="1em" /></h1>

  <img src="{{ composer.flag.url }}" class="img-responsive" style="width: 80px; float: left; margin-right: 10px;" /> 
            
  <p>
  ZDate of birth: {{ composer.date_of_birth }}
  </p>            
  <p>
  Date of birth text: {{ composer.get_birth_text }}
  </p>            
  <p>
  Date of death: {{ composer.get_death_text }}
  </p>            
  <p>
  Lifespan: {{ composer.get_lifespan }}
  </p>            
            
            
  <h3>Compositions</h3>
  <hr>
    <ul>
  {% for copy in composer.composition_set.all %}
    <li><a href="{{ copy.get_absolute_url }}">{{ copy.get_text_without_composer }}</a></li>
  {% endfor %}
    </ul>
            

  <p><a href="{% url 'composer_update' composer.id %}">Update</a></p> 
  <p><a href="{% url 'composer_delete' composer.id %}">Delete</a></p> 

{% endblock %}